<div class="modal fade" id="confirmation" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="confirmationLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-dark site" id="myMessageLabel">Perfect!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <div class="text-center text-success mt-3">
          <i class="fa-solid fa-circle-check fs-2" style="color: #a5dc86;"></i>
    
        </div>
        <br>
        <div class="mb-3 text-dark carousel-p ">Confirmed</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" style="width:65px;" data-bs-dismiss="modal">Close</button>
       
      </div>
    </div>
  </div>
</div>