{% extends "modal/base.html" %}

{% load static %}
<!-- class dialog -->

{% block modal-dialog %}
    class="modal-dialog modal-xl"
{% endblock modal-dialog %}


<!--Modal title -->
{% block modal-title %}
<i class="fa-solid fa-circle-exclamation"></i> &nbsp; Pending Deposits | Withdrawals
{% endblock modal-title %}


<!-- Modal id -->


{% block modal-id %}
id="pendingDepositModal"
{% endblock modal-id %}



<!--Modal body -->
{% block modal-body %}

<div class="container" style="width: 95%;">
<div class="justify-content-center align-items-center row mt-3">
    <h6 class="btn btn-secondary btn-lg text-sm mb-4" style="width: 100%; cursor: default;">
        <strong>
            <i class="fa-solid fa-coins"></i> &nbsp; Approve Deposits | Withdrawals 
        </strong>
           </h6>

           <ul class="tabs" data-tabs id="example-tabs">
            <li class="tabs-title is-active text-uppercase text-decoration-none fs-5"><a href="#panel1" aria-selected="true" class="text-decoration-none fw-bolder">Pending Deposits</a></li>
            <li class="tabs-title text-uppercase"><a data-tabs-target="panel2" href="#panel2" class="text-decoration-none fw-bolder">Withdrawal</a></li>
         </ul>
         <div class="tabs-content" data-tabs-content="example-tabs">
            <div class="tabs-panel is-active" id="panel1">
              <h4 class="site p-2 text-center">Deposits </h4>
              <div class="ui middle aligned divided list">
              
                {% for obj in pending_list %}
           
                <div class="item">
                  <div class="right floated content">
                    <div class="ui  pink inverted button disabled text-dark">{{obj.notification_deposit}}</div>
                  </div>
                  
                  <div class="content">
                  <a href="{% url 'admin_detail' obj.accountUser_id %}" class="site text-decoration-none">{{obj.accountUser}}</a>
                  </div>
                </div>
                {% endfor %}
              </div>
              </div>
              <div class="tabs-panel" id="panel2">
                <h4 class="site p-2 text-center">Withdrawal</h4>
                <div class="ui middle aligned divided list">
                
                  {% for obj in pending_list %}
             
                  <div class="item">
                    <div class="right floated content">
                      <div class="ui  pink inverted button disabled text-dark">{{obj.notification_withdrawal}}</div>
                    </div>
                    
                    <div class="content">
                    <a href="{% url 'pending_withdrawal' obj.accountUser_id %}" class="site text-decoration-none">{{obj.accountUser}}</a>
                    </div>
                  </div>
                  {% endfor %}
                </div>
                </div>
          </div>

</div>
</div>
{% endblock modal-body %}

