{% extends 'admin.html' %}
{% load static %}
{% block body %}

<div class="container">
   
    <div class="row">
      <div class="col-md-8 ">
 <ul class="tabs" data-tabs id="example-tabs">
   <li class="tabs-title is-active text-uppercase text-decoration-none fs-5"><a href="#panel1" aria-selected="true" class="text-decoration-none fw-bolder">Approve Transfers</a></li>
   <li class="tabs-title text-uppercase"><a data-tabs-target="panel2" href="#panel2" class="text-decoration-none fw-bolder">Empty</a></li>
        </ul>

        
        <div class="tabs-content" data-tabs-content="example-tabs">
          <div class="tabs-panel is-active" id="panel1">
            <h4 class="site p-2 text-center"> Pending Transfer</h4>
            <div class="ui middle aligned divided list">
            
              {% for obj in pending_list %}
         
              <div class="item">
                <div class="right floated content">
                  <div class="ui  pink inverted button disabled text-dark">{{obj.notification_transfer}}</div>
                </div>
                <img class="ui avatar image" src="{% static 'images/molly.png' %}">
                <div class="content">
                <a href="{% url 'pending_transfer_detail' obj.accountUser_id %}" class="site text-decoration-none">{{obj.accountUser}}</a>
                </div>
              </div>
              {% endfor %}
            </div>
            </div>
          <div class="tabs-panel" id="panel2">
            <h4 class="site p-2 text-center">Empty</h4>
            <div class="ui placeholder">
                <div class="header">
                  <div class="line"></div>
                  <div class="line"></div>
                </div>
              </div>
            </div>
            </div>
 </div>
    
    </div>
  </div>  


   {% if messages %}

  {% for message in messages %}
  
  
  {% if message.tags == 'success' %}
  <script src="{% static 'js/jquery.js' %}"></script>  
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script>
   $(document).ready(function(){
    $("#confirmation").modal('show');
   });
  </script>
  
  {% endif %}
  
  
      
  {% endfor %}
  
  {% endif %}
<div class="modal fade" id="confirmation" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="confirmationLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-dark site" id="myMessageLabel">Perfect!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <div class="text-center text-success mt-3">
          <i class="fa-solid fa-circle-check fs-2" style="color: #a5dc86;"></i>
    
        </div>
        <br>
        <div class="mb-3 text-dark carousel-p ">Confirmed</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" style="width:65px;" data-bs-dismiss="modal">Close</button>
       
      </div>
    </div>
  </div>
</div>
  {% endblock  %}
