 {% extends 'detail.html' %}

 {% block head %}
 <h1 style="color: #f5a742;" class="text-center headings mb-4">Welcome, {{request.user.first_name | title}}</h1>
 <p class="headings ps-2 text-center"> Clear {{activity}} for <b class="fs-4">{{obj.accountUser.first_name}}</b></p>
 {% endblock %}

 {% block users %}
<div class="container">
  <div class="row">

    <div class="col d-flex justify-content-center">
      <div class="d-grid gap-2">
        <a class="btn btn-outline-info btn-flat m-b-30 m-t-30 mt-2" href="{% url 'reset' %}">
      Back to Users
        </a>
    </div>

    </div>
  </div>
</div>
{% endblock %}