{% extends 'admin.html' %}
{% load static %}
{% block body %}

<div class="container">
   
    <div class="row">
      <div class="col-md-8 ">
 <ul class="tabs" data-tabs id="example-tabs">
   <li class="tabs-title is-active text-uppercase text-decoration-none fs-5"><a href="#panel1" aria-selected="true" class="text-decoration-none fw-bolder">Users</a></li>
   <li class="tabs-title text-uppercase"><a data-tabs-target="panel2" href="#panel2" class="text-decoration-none fw-bolder">Empty</a></li>
        </ul>

        
        <div class="tabs-content" data-tabs-content="example-tabs">
          <div class="tabs-panel is-active" id="panel1">
            <h4 class="site p-2 text-center"> Restriction Center</h4>
            <div class="ui middle aligned divided list">
            
              {% for obj in pending_list %}
         
              <div class="item mb-3">
                <div class="right floated content">
                  <div class="ui  pink inverted button disabled text-dark">{% if obj.restriction %}Restricted{% else %}Unrestricted{% endif %}</div>
                </div>
                <img class="ui avatar image" src="{% static 'images/molly.png' %}">
                <div class="content">
                <a href="{% url 'restrict_withdrawal' obj.accountUser_id %}" class="site text-decoration-none">{{obj.accountUser}}</a>
                </div>
              </div>
              {% endfor %}
            </div>
            </div>
          <div class="tabs-panel" id="panel2">
            <h4 class="site p-2 text-center">Empty</h4>
            <div class="ui placeholder">
                <div class="header">
                  <div class="line"></div>
                  <div class="line"></div>
                </div>
              </div>
            </div>
            </div>
 </div>
    
    </div>
  </div>  
  {% endblock  %}
