{% extends "modal/messageStatus/base.html" %}



<!-- class dialog -->

{% block modal-dialog %}
    class="modal-dialog modal-xl"
{% endblock modal-dialog %}


<!--Modal title -->
{% block modal-title %}
<button type="button" class="btn btn-primary rounded">
  Notifications <span class="badge badge-light p-2">{% if unread %} {{unread}} {% else %} 0 {% endif %}</span>
</button>
{% endblock modal-title %}


<!-- Modal id -->


{% block modal-id %}
id="unreadMessagesModal"
{% endblock modal-id %}
       


<!--Modal body -->
{% block modal-body %}
{% load static %}
<div class="container" style="width: 95%;">
<div class="justify-content-center align-items-center row mt-3">
    <h6 class="btn btn-secondary btn-lg text-sm mb-4" style="width: 100%; cursor: default;">
        <strong>
          <i class="fas fa-bell"></i> &nbsp; {% if unread %} <strong class="text-light">{{unread}}</strong> {% else %} <strong class="text-danger">0</strong>  {% endif %} &nbsp; Unread message(s)   </strong>
  

              </h6>
              <div class=" mt-4 table-responsive">
                {% if  unread_inbox %}
                <table class="table ">
                  <thead>
                    <tr>
                     
                      <th scope="col">Date</th>
                      <th scope="col">Email</th>
                      <th scope="col">Subject</th>
                      <th scope="col">Status</th>
                       <th scope="col" colspan="2" style="text-align: center;">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for msg in  unread_inbox %}
                    <tr>
                      
                      <td class="fw-bold">{{msg.date}}</td>
                      <td class="fw-bold">{{msg.email}}</td>
                      <td class="fw-bold">{{msg.subject}}</td>
                      <td class="text-danger fw-bold">{{msg.Situation}}</td>
                      <td class="fw-bold" style="text-align: center;"><a href="{% url 'message_detail' msg.id %}"><i class="fa-solid fa-eye "></i></a></td>
          <td class="fw-bold" style="text-align: center;"><a href="#"><i class="fa-solid fa-trash text-danger "></i></a></td>
                      
                       
                    
                      
                    </tr>
                    {% endfor %}
                 
                  </tbody>
                </table>


                {% else %}
                <table class="ui celled table ">
                  <thead>
                    <tr>
                     
                      <th scope="col">Date</th>
                      <th scope="col">Email</th>
                      <th scope="col">Subject</th>
                      <th scope="col">Status</th>
                       <th scope="col" colspan="2" style="text-align: center;">Action</th>
                    </tr>
                  </thead>

                  </table>

                  <p class="placeholder-glow">
                    <span class="placeholder col-12"></span>
                    <span class="placeholder col-12"></span>
                    <span class="placeholder col-12"></span>
                    <span class="placeholder col-12"></span>
                  </p>



                {% endif %}
               </div>
              
  

        
         
            </div>
         
            

</div>
{% endblock modal-body %}

